.contact-container {
  scroll-margin-top: 70px;
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f1f1f;
  overflow: hidden;

  .contact-info {
    margin-right: 150px;

    .info {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: #fff;
      transition: 0.2s;

      .line {
        height: 1px;
        width: 70px;
        background: #9932cc;
        margin-right: 10px;
      }

      .icon {
        font-size: 25px;
        margin-right: 10px;
      }

      p {
        font-weight: 300;
      }

      &:hover {
        color: #9932cc;
      }
    }
  }

  .contact-form {
    ul {
      display: flex;
      flex-direction: column;

      li {
        list-style: none;
        overflow: hidden;
        margin-bottom: 10px;

        &.half {
          display: flex;

          input {
            &:first-child {
              margin-right: 7px;
            }
          }
        }

        input {
          width: 98.5%;
          padding: 10px 20px;
          font-family: "Montserrat", sans-serif;
          color: #fff;
          background: rgb(46, 43, 43);
          box-shadow: 3px 3px #9932cc;
          border: none;
          border-radius: 5px;
          margin: 3px 3px;

          &:focus {
            outline: none;
          }

          &.btn {
            width: 95.5%;
            border-radius: 5px;
            text-transform: uppercase;
            transition: 0.3s;

            &:hover {
              background: #9932cc;
              box-shadow: 3px 3px #2e2b2b;
              color: #000;
              cursor: pointer;
            }
          }
        }

        textarea {
          width: 98.5%;
          height: 160px;
          padding: 10px 20px;
          font-family: "Montserrat", sans-serif;
          color: white;
          background: #2e2b2b;
          box-shadow: 3px 3px #9932cc;
          border: none;
          border-radius: 5px;

          margin: 3px 3px;
          resize: none;

          &:focus {
            outline: none;
          }
        }

        &.liBtn {
          align-self: center;
          width: 30%;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .contact-container {
    .contact-form {
      padding-right: 50px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .contact-container {
    .contact-info {
      margin-right: 40px;

      .info {
        .line {
          width: 50px;
        }

        .icon {
          font-size: 20px;
        }

        p {
          font-size: 15px;
        }
      }
    }

    .contact-form {
      padding-right: 0;

      ul {
        li {
          input {
            padding: 7px 10px;
          }

          textarea {
            height: 140px;
            padding: 7px 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .contact-container {
    flex-direction: column;

    .contact-info {
      margin: 0 0 20px 0;

      .info {
        .line {
          width: 70px;
        }
      }
    }

    .contact-form {
      width: 80%;
      ul {
        li {
          input {
            padding: 10px 20px;
          }

          &.liBtn {
            width: 20%;
          }

          textarea {
            height: 150px;
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .contact-container {
    .contact-info {
      .info {
        .icon {
          font-size: 17px;
        }

        p {
          font-size: 13px;
        }
      }
    }

    .contact-form {
      ul {
        li {
          &.liBtn {
            width: 30%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .contact-container {
    .contact-info {
      .info {
        .line {
          width: 50px;
        }

        .icon {
          font-size: 15px;
        }

        p {
          font-size: 12px;
        }
      }
    }
    .contact-form {
      ul {
        li {
          input {
            padding: 7px 10px;
          }

          textarea {
            height: 140px;
            padding: 7px 10px;
          }
        }
      }
    }
  }
}
