.header-container {
  padding-top: 70px;
  position: relative;
  width: 100%;
  height: calc(100vh + 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  .circle {
    position: absolute;
    border-radius: 50%;
    z-index: -2;

    &.one {
      height: 300px;
      width: 300px;
      top: 13%;
      right: 15%;
      background: #ecc70d;
    }

    &.two {
      height: 200px;
      width: 200px;
      bottom: 5%;
      right: 25%;
      background: #b85030;
    }

    &.three {
      height: 500px;
      width: 500px;
      bottom: 8%;
      left: -5%;
      background: #85d0eb;
    }

    &.four {
      height: 100px;
      width: 100px;
      top: 30%;
      left: 29%;
      background: #9ee656;
    }

    &.five {
      height: 100px;
      width: 100px;
      top: 56%;
      right: 10%;
      background: #3429cf;
    }
  }

  .icon {
    position: absolute;
    z-index: -1;

    &.water {
      font-size: 130px;
      bottom: 10%;
      right: 31%;
      color: #1a3c58;
    }

    &.dd {
      font-size: 80px;
      top: 16%;
      right: 38%;
      color: #d1352a;
    }

    &.x {
      font-size: 100px;
      top: 16%;
      left: 16%;
      color: #615d5d;
    }

    &.play {
      font-size: 160px;
      bottom: 16%;
      left: 26%;
      color: #dd4dd1;
    }
  }

  h2 {
    font-size: 50px;
    font-weight: 400;
  }

  h1 {
    font-size: 80px;
    font-weight: 800;

    span {
      color: #9932cc;
      text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
        1px 1px 0 white;
    }
  }

  h3 {
    font-size: 55px;
    font-weight: 600;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(7px);
  }

  75% {
    transform: translateY(-7px);
  }
}

@media screen and (max-width: 1300px) {
  .header-container {
    padding-top: 60px;

    .circle {
      &.one {
        height: 250px;
        width: 250px;
        top: 10%;
        right: 10%;
      }

      &.two {
        height: 180px;
        width: 180px;
        bottom: 3%;
        right: 20%;
      }

      &.three {
        height: 400px;
        width: 400px;
        bottom: 6%;
        left: -9%;
      }

      &.four {
        top: 20%;
        left: 22%;
      }

      &.five {
        height: 90px;
        width: 90px;
        top: 46%;
        right: 6%;
      }
    }

    .icon {
      &.water {
        font-size: 110px;
        bottom: 8%;
        right: 26%;
      }

      &.dd {
        top: 14%;
        right: 40%;
      }

      &.x {
        top: 12%;
        left: 10%;
      }

      &.play {
        font-size: 140px;
        bottom: 12%;
        left: 23%;
      }
    }

    h2 {
      font-size: 40px;
    }

    h1 {
      font-size: 70px;
    }

    h3 {
      font-size: 45px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .header-container {
    .circle {
      &.one {
        top: 8%;
        right: 8%;
        animation: upDown 3s infinite linear;
      }

      &.two {
        bottom: 8%;
        right: 15%;
      }

      &.three {
        bottom: 2%;
        left: -19%;
        animation: upDown 3s infinite linear;
      }

      &.four {
        top: 30%;
        animation: upDown 2.3s infinite linear;
      }

      &.five {
        top: 53%;
        animation: upDown 1.5s infinite linear;
      }
    }

    .icon {
      &.dd {
        top: 20%;
        right: 45%;
        animation: upDown 1.8s infinite linear;
      }

      &.x {
        top: 17%;
        left: 5%;
        animation: upDown 1.7s infinite linear;
      }

      &.play {
        bottom: 18%;
        left: 33%;
      }

      &.water {
        bottom: 10%;
        animation: upDown 2s infinite linear;
      }
    }

    h2 {
      font-size: 30px;
      // animation: upDown 3s infinite linear;
    }

    h1 {
      font-size: 55px;
      // animation: upDown 3s infinite linear;
    }

    h3 {
      font-size: 35px;
      // animation: upDown 3s infinite linear;
    }
  }
}

@media screen and (max-width: 830px) {
  .header-container {
    .icon {
      &.dd {
        display: none;
      }

      &.play {
        display: none;
      }
    }

    h2 {
      font-size: 25px;
    }

    h1 {
      font-size: 40px;
    }

    h3 {
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 700px) {
  .header-container {
    .circle {
      &.one {
        height: 170px;
        width: 170px;
        top: 12%;
        right: 8%;
      }

      &.two {
        height: 160px;
        width: 160px;
        bottom: 8%;
        right: 15%;
      }

      &.three {
        height: 350px;
        width: 350px;
        bottom: 2%;
        left: -25%;
      }

      &.five {
        width: 70px;
        height: 70px;
        top: 53%;
        right: 2%;
      }
    }

    .icon {
      &.x {
        font-size: 80px;
      }

      &.water {
        bottom: 10%;
        font-size: 100px;
      }
    }

    h2 {
      font-size: 25px;
    }

    h1 {
      font-size: 40px;
    }

    h3 {
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 550px) {
  .header-container {
    .circle {
      &.three {
        height: 270px;
        width: 270px;
      }

      &.two {
        bottom: 12%;
      }

      &.four {
        top: 30%;
      }
    }

    .icon {
      &.water {
        bottom: 16%;
      }
    }

    h2 {
      font-size: 20px;
    }

    h1 {
      font-size: 30px;
    }

    h3 {
      font-size: 23px;
    }
  }
}

@media screen and (max-width: 440px) {
  .header-container {
    .circle {
      &.one {
        height: 150px;
        width: 150px;
      }

      &.two {
        height: 110px;
        width: 110px;
        bottom: 14%;
      }

      &.three {
        bottom: 0%;
        left: -40%;
      }

      &.four {
        height: 80px;
        width: 80px;
        top: 30%;
        left: 12%;
      }

      &.five {
        width: 65px;
        height: 65px;
        top: 53%;
        right: -2%;
      }
    }

    .icon {
      &.x {
        font-size: 60px;
      }

      &.water {
        right: 30%;
        font-size: 70px;
        bottom: 16%;
      }
    }
  }
}
